
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
    background-color: rgba(226, 247, 250, 0.651);
    

}

/* Formulario de registro 
-------------------------------------------------- */

.form-modificacion {
    padding-right: 10px;
    display: flex;

}

.search-container {
    display: flex;
  }
  
  input[type="text"] {
    padding: 10px;
    font-size: 16px;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }

.profile-info.profile{
    margin: 10px;

}

.profile {
    padding: 10px;
    margin: 0;
}
.profile-info{
    margin: 10%;
    max-width: 150%;
}




.mb-3{
    width: 200%;
    margin-top: 6px;
    margin: 10%;

}

.row::after{
    content: "";
    display: table;
    clear: both;
}