<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-between justify-content-md-between py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" style="fill:
                 rgba(23, 226, 39, 1);transform: ;msFilter:;"><path d="M15 2.013H9V9H2v6h7v6.987h6V15h7V9h-7z"></path></svg>
            <!--            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>-->
        </a>

        <ul class="nav col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/" class="nav-link px-2 link-secondary">Inicio</a></li>
            <li><a href="#" class="nav-link px-2 link-dark">Profesionales</a></li>
            <li><a href="#" class="nav-link px-2 link-dark">Obras Sociales</a></li>
            <li><a href="#" class="nav-link px-2 link-dark">Sobre Nosotros</a></li>
        </ul>

        <div class="col-md-3 text-end" th:if="${session.usuariosession == null}">
            <a href="paciente/registrar" type="button"  class="btn btn-outline-primary me-2">Registro</a>
            <a href="/login" type="button" class="btn btn-primary">Ingrese</a>
        </div>
        
        <div class="col-md-3 text-end d-flex justify-content-between align-items-center " th:if="${session.usuariosession != null}">
            <p style="margin: 0px; font-weight: bold;">Hola, <span th:text="${session.usuariosession.nombre}"></span></p>
            <div>
            <a href="/login" type="button"  class="btn btn-outline-primary me-2">Perfil</a>
            <a href="/logout" type="button" class="btn btn-primary">LogOut</a>
        </div>
        </div>
    </header>
</div>