<!DOCTYPE html>
<html lang="en"
    
    xmlns:th="http://www.thymeleaf.org"
    xlmns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>ficha medica</h3>
    <form th:action="@{/medico/agregarNota}" method="post">
    <input type="hidden" th:value="${ficha.idfichaMedica}" name="idFicha">
    <textarea th:text="${ficha.notas}" th:value="${ficha.notas}" name="nota"></textarea>
    <button type="submit"></button>
    </form>
</body>
</html>